<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="includes">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	crossorigin="anonymous"/>
<link rel="stylesheet" th:href="@{/css/site.css}" />
<link rel="stylesheet" th:href="@{/css/popchat.css}" />
</head>
<body>
</body>
</html>